<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Server</title>
</head>

<body>
    <h1>Query Page</h1><br>
    <form action="/query" method="POST">
        <label for="query">Query</label>
        <input name= "query" type="text">
        <input type="submit" value="Submit">
    </form>
    <div>
        <% result.name %>
    </div>
</body>

</html>