<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Database</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
    <h1 class="title">Query Page</h1><br>
    <div class="history-list" style="float:right;">
        <button class="dropbtn">HISTORY</button>
        <div class="dropdown-content">
            <% history.forEach(function(item) { %>
                <div onclick="historyToQuery(this);" class="history-list-item"><%= item %></div><br />
                <% }) %>
        </div>
    </div>
    <div class="query">
        <form action="/query" method="POST">
            <textarea id="query-table" name="query" cols="40" rows="5"></textarea>
            <input type="submit" value="Submit">
        </form> 
    </div>

    <div class="result-box">
        <%= result %>
    </div>

    <div class="history-list">
        <button class="dropbtn">Tables</button>
        <div class="dropdown-content" style="left: 0;">
                <% tables.forEach(function(item){ %>
                    <%= item %>
                    <% }) %>
        </div>
    </div>

</body>
<script>
    function historyToQuery(htmlElement) {
        var queryString = htmlElement.innerHTML;
        var queryTable = document.getElementById("query-table");
        queryTable.value = queryString;
    }
</script>

</html>