<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
</head>

<body>
    <h1>This is the Login Page For Your SQL server</h1><br>
    <form action="/database" method="POST">
        <label for="username">Username</label><br>
        <input name= "username" type="text"><br>
        <label for="password">Password</label><br>
        <input name= "password" type="text"><br>
        <label for="host">Host</label><br>
        <input name= "host" type="text"><br>
        <label for="database">Database</label><br>
        <input name= "database" type="text"><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>